.main-container {
  border: solid black 1px;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F7FB;
}

.quizz-btn{
  padding:10px 30px;
  border-radius: 5px;
  border: none;
  background-color: #4D5B9E;
  color: white;
  cursor: pointer;
}

.question-option{
  border:  #4D5B9E 1px solid;
  border-radius: 15px;
  background-color: white;
  color: #293264;
  font-weight: bold;
  padding: 10px 30px;
  margin-inline: 5px;
  cursor: pointer;
}

.question-container > hr{
  margin-top: 10px;
  border-color: #DBDEF0;
}

.wrong-answer{
  background-color: #F8BCBC;
  border: none;
  opacity: 50%;
}

.correct-answer{
  background-color: #94D7A2;
  border: none;
}

.selected-answer{
  opacity: 50%;
}

.menu-button{
  padding:15px 45px;
  border-radius: 15px;
  border: none;
  background-color: #4D5B9E;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.quizz-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}